body {
    background-image: url("art-background.jpg");
    background-size: 100%;
}

#header {
    border: solid 2px black;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    /* height: 0px; */
    padding: 20px;
    background-color: rgba(255, 228, 196, 0.397);
    
}

button {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    /* background-image: url("bob-ross.png"); */
    background-size: 100%;
    outline-style: none;
}

#red {
    background: 
    linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),
    url("RedRoss.png");
    background-size: 100%;
    /* background-image: url("RedRoss.png"); */
    /* background: rgba(255, 0, 0, 0.219); */
}

#blue {
    background: 
    linear-gradient(
      rgba(0, 0, 255, 0.45), 
      rgba(0, 0, 255, 0.45)
    ),
    url("RedRoss.png");
    background-size: 100%;
    /* background-image: url("BlueRoss.png"); */
    /* background: blue; */
}

#green {
    background: 
    linear-gradient(
      rgba(0, 255, 0, 0.45), 
      rgba(0, 255, 0, 0.45)
    ),
    url("RedRoss.png");
    background-size: 100%;
    /* background-image: url("GreenRoss.png"); */
    /* background: green; */
}

#square-parent {
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.square-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}

.square {
    width: 150px;
    height: 150px;
    border: solid 2px black;
    margin: 2px;
    background-color:white;
}

