body {
    background-image: url("art-background.jpg");
    background-size: 100%;
}

#header {
    border: solid 2px black;
    width: 60%;
    margin: auto;
    display: flex;
    
}

#red {
    background: red;
}

#blue {
    background: blue;
}

#green {
    background: green;
}

.square-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}

.square {
    width: 150px;
    height: 150px;
    border: solid 2px black;
    margin: 2px;
    background-color:white;
}

